<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Suite">
  <test  name="Login Test">
    <classes>
      <class name="com.flipkart.scripts.FlipkartLoginTest">
      
      <methods>
      <include name="testLoginwithValidCredentials"></include>
      <include name="testsearchProduct"></include>
      </methods>
      
      </class>
     
      
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->

